.spinner-container {
  position: fixed;
  top: 108px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8); /* Light overlay to enhance blur effect */
  backdrop-filter: blur(5px); /* Apply background blur */
  z-index: 9999; /* Ensure the spinner is on top of other content */
}

.spinner-container img {
  width: 100px; /* Adjust the size of the spinner image */
  height: 100px;
}
